# Mini Projet Data Processing

### <font color='blue'>Importation des libraries  </font>

In [23]:
# Importer les libraries
import pandas as pd
import numpy as np

### Chargement le jeu de données

### 1 - Exporter la base de données qui recense les informations sur le Burkina Faso (https://download.geonames.org/export/dump/).

In [24]:
# Telecharger le jeu de données sur le site https://download.geonames.org/export/dump/
# chargement du jeu de données BF.zip
data=pd.read_csv('C:/Master FD & IA 2023_2025/M1S1/Data Processing - Data Viz/Mini_Projet/BF.txt', header=None, delimiter='\t')
data.head(4)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,2282318,Pouéné,Pouene,NaN,9.72908,-2.78660,H,STM,BF,NaN,00,NaN,NaN,NaN,0,NaN,226,Africa/Abidjan,2023-11-07
1,2285251,Léraba Occidentale,Leraba Occidentale,"Badini,La Leraba Occidentale,Leraba,Leraba Occ...",10.28333,-5.11667,H,STM,BF,CI,00,NaN,NaN,NaN,0,NaN,283,Africa/Abidjan,2023-11-07
2,2287216,Kéléouoro,Keleouoro,"Keleouoro,Keleworo,Kéléouoro,Kéléworo",9.80748,-4.05023,H,STM,BF,"BF,CI",00,NaN,NaN,NaN,0,NaN,261,Africa/Abidjan,2023-11-07
3,2294066,White Volta,White Volta,"Nakambe,Nakambé,Nakanbe,Nakanbé,Volta Blanche,...",8.70194,-0.99056,H,STM,BF,GH,00,NaN,NaN,NaN,0,NaN,75,Africa/Accra,2023-11-08

In [25]:
# Renommer les noms des colonnes selon la description des colonnes du fichier BF.zip
nom_colonne={0:'geonameid', 1:'name', 2:'asciiname', 3:'alternatenames', 4:'latitude', 5:'longitude', 6:'feature class', 7:'feature code', 8:'country code', 9:'cc2', 10:'admin1 code', 11:'admin2 code', 12:'admin3 code', 13:'admin4 code', 14:'population', 15:'elevation', 16:'dem', 17:'timezone', 18:'modification date' }
data=data.rename(columns=nom_colonne)

In [26]:
data.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,2282318,Pouéné,Pouene,NaN,9.72908,-2.78660,H,STM,BF,NaN,00,NaN,NaN,NaN,0,NaN,226,Africa/Abidjan,2023-11-07
1,2285251,Léraba Occidentale,Leraba Occidentale,"Badini,La Leraba Occidentale,Leraba,Leraba Occ...",10.28333,-5.11667,H,STM,BF,CI,00,NaN,NaN,NaN,0,NaN,283,Africa/Abidjan,2023-11-07
2,2287216,Kéléouoro,Keleouoro,"Keleouoro,Keleworo,Kéléouoro,Kéléworo",9.80748,-4.05023,H,STM,BF,"BF,CI",00,NaN,NaN,NaN,0,NaN,261,Africa/Abidjan,2023-11-07
3,2294066,White Volta,White Volta,"Nakambe,Nakambé,Nakanbe,Nakanbé,Volta Blanche,...",8.70194,-0.99056,H,STM,BF,GH,00,NaN,NaN,NaN,0,NaN,75,Africa/Accra,2023-11-08
4,2298457,Issana Bouga,Issana Bouga,"Issana Bouga,Lanyung,Lanyunga",10.91667,-1.18333,H,STM,BF,NaN,00,NaN,NaN,NaN,0,NaN,178,Africa/Accra,2023-11-08

### 3 - Appliquer les opérations de prétraitement et filtres nécessaires à ce fichier, pour ne garder que les colonnes correspondantes

In [27]:
#Identifiants, Noms de lieux, latitudes, longitudes
extract_data = data.loc[:, ['geonameid', 'name', 'latitude', 'longitude']]
extract_data.head()

   geonameid                name  latitude  longitude
0    2282318              Pouéné   9.72908   -2.78660
1    2285251  Léraba Occidentale  10.28333   -5.11667
2    2287216           Kéléouoro   9.80748   -4.05023
3    2294066         White Volta   8.70194   -0.99056
4    2298457        Issana Bouga  10.91667   -1.18333

In [28]:
#Renommez les avec les noms suivants : 'ID', 'location_name', 'lat', 'long'
colonne_nom={'geonameid':'ID', 'name':'location_name', 'latitude':'lat', 'longitude':'long' }
extract_data=extract_data.rename(columns=colonne_nom)
extract_data.head()

        ID       location_name       lat     long
0  2282318              Pouéné   9.72908 -2.78660
1  2285251  Léraba Occidentale  10.28333 -5.11667
2  2287216           Kéléouoro   9.80748 -4.05023
3  2294066         White Volta   8.70194 -0.99056
4  2298457        Issana Bouga  10.91667 -1.18333

In [29]:
#Sauvegarder ces données dans un fichier CSV, nommez-le burkina_location.csv
extract_data.to_csv('C:/Master FD & IA 2023_2025/M1S1/Data Processing - Data Viz/Mini_Projet/burkina_location.csv', index=False)

### 4 - Opérations sur le fichier CSV burkina_location.csv.

In [30]:
# extraire les données contenant le nom 'gounghin', enregistrez-le sous le fichier gounghin.csv
Gounghin_data=extract_data[extract_data['location_name'].str.contains('Gounghin', case=False, na=False)]

In [31]:
# Enregistrer les données au format csv
Gounghin_data.to_csv('C:/Master FD & IA 2023_2025/M1S1/Data Processing - Data Viz/Mini_Projet/Gounghin.csv', index=False)

In [32]:
# extraire la sous-partie de la base de données (fichier burkina_location.csv), dont les noms les premières lettres des noms de lieux sont compris entre 'A' et 'P' (ordre alphabétique)
extract_data['location_name'] = extract_data['location_name'].str.upper()
data_A_to_P=extract_data[extract_data['location_name'].str.startswith(tuple(chr(i) for i in range(ord('A'), ord('P')+1)))]

In [33]:
#Identifiez respectivement, la latitude, la longitude minimale et les noms de lieux correspondants
lat_min=extract_data.sort_values(by='lat', ascending=True)
print(lat_min[:1])

long_min=extract_data.sort_values(by='long', ascending=True)
print(long_min[:1])

           ID location_name      lat     long
6018  2359210         KOMOÉ  5.21609 -3.71793
           ID location_name       lat     long
4221  2357400      BANIFING  12.01147 -5.65968

In [34]:
#Quels sont les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5)
filtre_lieux=extract_data[(extract_data['lat'] >= 11) & (extract_data['long'] <= 0.5)]

### 5 - Sorties Excel
#### À partir des extractions de l'étape 4 :

In [35]:
#Créer un fichier Excel et nommer le : mini_projet
with pd.ExcelWriter('C:/Master FD & IA 2023_2025/M1S1/Data Processing - Data Viz/Mini_Projet/mini_projet.xlsx') as writer:
    #Créer une feuille dans ce fichier, du nom gounghin et enregistrer les données contenant le nom 'gounghin' obtenues dans 4.1
    Gounghin_data.to_excel(writer, sheet_name='gounghin', index=False)
    
    #Créer une second feuille dans ce même fichier, du nom A_to_P et enregistrer les données de 4.2
    data_A_to_P.to_excel(writer, sheet_name='A_to_P', index=False)